@model BTLNhom3.Models.Quanlyncc

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo mới NCC</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mancc" class="control-label"></label>
                
                <input asp-for="Mancc" class="form-control"  value="@ViewBag.newID"/>

                <input asp-for="Mancc" class="form-control" />

                <span asp-validation-for="Mancc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenncc" class="control-label"></label>
                <input asp-for="Tenncc" class="form-control" />
                <span asp-validation-for="Tenncc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sodienthoai" class="control-label"></label>
                <input asp-for="sodienthoai" class="form-control" />
                <span asp-validation-for="sodienthoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diachi" class="control-label"></label>
                <input asp-for="diachi" class="form-control" />
                <span asp-validation-for="diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
