@model BTLNhom3.Models.Quanlysanpham

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo sản phẩm mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Masanpham" class="control-label"></label>
                <input asp-for="Masanpham" class="form-control" />
                <span asp-validation-for="Masanpham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tensanpham" class="control-label"></label>
                <input asp-for="Tensanpham" class="form-control" />
                <span asp-validation-for="Tensanpham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="size" class="control-label"></label>
                <input asp-for="size" class="form-control" />
                <span asp-validation-for="size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soluong" class="control-label"></label>
                <input asp-for="soluong" class="form-control" />
                <span asp-validation-for="soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mausac" class="control-label"></label>
                <input asp-for="mausac" class="form-control" />
                <span asp-validation-for="mausac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="giatien" class="control-label"></label>
                <input asp-for="giatien" class="form-control" />
                <span asp-validation-for="giatien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
