@model BTL_Nhom3.Models.Quanlidonhang

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Quanlidonhang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Madonhang" class="control-label"></label>
                <input asp-for="Madonhang" class="form-control" />
                <span asp-validation-for="Madonhang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngay" class="control-label"></label>
                <input asp-for="ngay" class="form-control" />
                <span asp-validation-for="ngay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masanpham" class="control-label"></label>
                <select asp-for="Masanpham" class ="form-control" asp-items="ViewBag.Masanpham"></select>
            </div>
            <div class="form-group">
                <label asp-for="Makhachhang" class="control-label"></label>
                <select asp-for="Makhachhang" class ="form-control" asp-items="ViewBag.Makhachhang"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
